@using Mindr.WebUI.Components
@using Mindr.WebUI.Models;

@namespace Mindr.WebUI.Shared
@inherits FluentComponentBase

@if(Page != null && Page.UseBreadcrumb)
{
    <Stack Orientation="Orientation.Horizontal" HorizontalGap=0>
        <FluentIcon Name="@Page.Icon" Size="@IconSize.Size24" Color=Color.Neutral Style="margin-top:6px;margin-right:6px;" />
        <Stack Orientation="Orientation.Horizontal" VerticalAlignment="StackVerticalAlignment.Bottom">
            @if(!string.IsNullOrEmpty(Path))
            {        
                <h3><a href="@Page.Name.ToLower()">@Page.Name</a></h3>
                <div class="breadcrumb-devider"/>
                <h3 class="breadcrumb-child">@Path</h3>
            }
            else
            {
                <h3>@Page.Name</h3>
            }
        </Stack>
    </Stack>
}

