@inherits FluentComponentBase

<Stack Orientation="Orientation.Vertical" VerticalGap="0">
    <Stack Orientation="Orientation.Horizontal" Class="editable-stack">
        <FluentButton Disabled="false" Appearance="Appearance.Stealth" Style="border-radius: 0;" @onclick="OpenItemDialog">
            <FluentIcon Slot="start" Name="@FluentIcons.Add" Size="@IconSize.Size16" Variant="@IconVariant.Regular" Color="@Color.Accent" />
            Add
        </FluentButton>
        <FluentButton Disabled="false" Appearance="Appearance.Stealth" Style="border-radius: 0;" @onclick="OnHandleRun">
            <FluentIcon Slot="start" Name="@FluentIcons.Play" Size="@IconSize.Size16" Variant="@IconVariant.Regular" Color="@Color.Accent" />
            Run Pipeline
        </FluentButton>
    </Stack>
    <Stack Orientation="Orientation.Horizontal">
        @if (IsLoading)
        {
            <Stack HorizontalAlignment="StackHorizontalAlignment.Center" VerticalAlignment="StackVerticalAlignment.Center">
                <FluentProgressRing />
            </Stack>
        }
        else if (HttpItems?.Any() == true)
        {
            <Dropzone Items="HttpItems">
                <HttpPipelineItem 
                    Data="@context" 
                    IsSelected="@(SelectedItem?.Id == context.Id)"
                    OnHandleSelect="@OnItemSelect" 
                    OnHandleRemove="@OnItemRemove"
                />
            </Dropzone>
        }
        @if(SelectedItem != null)
        {
            <Stack 
                Orientation="Orientation.Vertical" 
                HorizontalAlignment="StackHorizontalAlignment.Center" 
                VerticalGap="0"
            >
                <FluentCard class="overflow-ellipsis" title="Needed input">
                    <Stack Orientation="Orientation.Horizontal" Class="editable-stack">
                        <FluentButton 
                            Disabled="false" 
                            Appearance="Appearance.Stealth" 
                            Style="border-radius: 0;" 
                            @onclick="OnItemRun"
                        >
                            <FluentIcon 
                                Slot="start" 
                                Name="@FluentIcons.Play" 
                                Size="@IconSize.Size16" 
                                Variant="@IconVariant.Regular" 
                                Color="@Color.Accent" 
                            />
                            Run
                        </FluentButton>
                    </Stack>
                    @if (GetItemRequestVariables()?.Any() == true)
                    {
                        <div>
                            Input:
                            <Stack Orientation="Orientation.Vertical" Style="padding: 5px;" HorizontalGap="0">
                            @foreach (var variable in GetItemRequestVariables()!)
                                {
                                    <FluentTextField @bind-Value="@variable.Value" title="@variable.Key" style="width: 100%;" Placeholder="@variable.Key" />
                                }
                            </Stack>
                        </div>
                    }
                    @if (SelectedItem?.Result != null)
                    {
                        <pre style="border: solid 1px lightgray;">@SelectedItem?.Result!.ToString()</pre>
                    }
                    @if(GetItemResponseVariables()?.Any() == true)
                    {
                        <div>
                            Output:
                            <Stack Orientation="Orientation.Vertical" Style="padding: 5px;margin-top:40px" HorizontalGap="0">
                                @foreach (var variable in GetItemResponseVariables()!)
                                {
                                    <FluentTextField @bind-Value="@variable.Value" title="@variable.Key" style="width: 100%;" Placeholder="@variable.Key" />
                                }
                            </Stack> 
                        </div>
                    }
                </FluentCard>
            </Stack>
        }
    </Stack>
    <div>
        <FluentDialog 
            Modal="true" 
            TrapFocus="true" 
            @ref="AddItemDialog" 
            @ondialogdismiss="DismissItemDialog"
        >
            @*Request*@
            <Stack Orientation="Orientation.Horizontal">
                <FluentSelect Items="@RequestMethods"
                              OptionText="@(i => i.Text)"
                              OptionValue="@(i => i.Value)"
                              OptionSelected="@(i => i.Selected)"
                              @bind-Value="@NewHttpItem.Request.Method" 
                              Style="width:auto"/>
                @*<FluentTextField Placeholder="Method" @bind-Value="" style="width: 100%;" />*@
                <FluentTextField Placeholder="Url" @bind-Value="@NewHttpItem.Request.Url.Raw" Style="width:-webkit-fit-content" />
            </Stack>
            <table style="width:100%; padding:20px">
                @foreach (var line in NewHttpItem.Request.Header)
                {
                    <tr>
                        <td><FluentTextField Placeholder="New value" @bind-Value="@line.Key" style="width: 100%;" /></td>
                        <td>:</td>
                        <td><FluentTextField Placeholder="New value" @bind-Value="@line.Value" style="width: 100%;" /></td>
                    </tr>
                }
                <tr>
                    <td><FluentTextField Placeholder="New value" @bind-Value="@NewHeaderKey" @onfocusout="OnInsertHeaderLine" style="width: 100%;" /></td>
                    <td>:</td>
                    <td><FluentTextField Disabled="true" style="width: 100%;" /></td>
                </tr>
            </table>
            <FluentTextArea @bind-Value="@NewHttpItem.Request.Body.Raw" style="width: 100%;"/>



            @*
            Name
            Description
            Response
            
            
            <Collection Data="@Collection" OnAddHandle="OnHandleAdd"/>*@
            <FluentButton Appearance="Appearance.Accent" Autofocus="true" @onclick="CloseItemDialog">Close dialog</FluentButton>
        </FluentDialog>
    </div>
</Stack>
