@page "/connectors/{ConnectorId}/{NavName?}"
@using Microsoft.AspNetCore.Authorization;
@using Mindr.Core.Models.Connector.Http;
@using Mindr.WebUI.Models;

@inherits FluentComponentBase
@attribute [Authorize]


<Stack Orientation="Orientation.Horizontal" HorizontalGap="0" Style="height:100%">
    <NavMenu Class="nav-menu" Expanded="false" Collapsible="false" Style="height: 100%;">
        @foreach (Page _page in @_Constants.ConnectorPage)
        {
            <NavMenuLink Icon="@_page.Icon" Text="@_page.Name" Href=@($"/connectors/{ConnectorId}/{_page.Name}") Disabled="@_page.Disabled" />
        }
    </NavMenu>

    @if(string.IsNullOrEmpty(NavName))
    {
        <div>
            TODO: Delete button to delete this connector
            Overview
        </div>
    }
    else if(NavName.ToLower() == "pipeline")
    {
        <HttpPipeline Pipeline="@Pipeline" />
    }
</Stack>



@code {

    public List<HttpItem> Pipeline { get; set; } = new() { _Constants.DefaultTestSample, _Constants.DefaultTestSample2 };

}
