@namespace Mindr.WebAssembly.Client.Pages.Calendar.Components
@using Mindr.WebAssembly.Client.Pages.Calendar.Extensions;


@if (CalendarViewTypeService.IsMonth())
{
    <div class="day @Classes.AsString()" @onmousedown="OnMouseDown" data-date="@Day.Date.ToString("yyyyMMdd")">
        @if (Scheduler.DayTemplate != null)
        {
            @Scheduler.DayTemplate(Day)
        }
        else
        {
            <span style="background-color: @Color;">@DateText</span>
        }
    </div>
}
else if (CalendarViewTypeService.IsWeek())
{
    <div class="hours-of-day" data-date="@Day.Date.ToString("yyyyMMdd")">
        @for (int i = 1; i < 25; i++)
        {
            <div>
                <div class="hour" data-hour="@i">
                </div>
                <div class="hour-container">
                    <div class="hour-separator" style="width:98%"></div>
                    <div class="hour-number">@i</div>
                    <div class="hour-separator" style="width:2%"></div>
                </div>
            </div>
        }
    </div>
}
