@using Mindr.WebAssembly.Client.Components
@using Mindr.WebAssembly.Client.Pages.Connectors.Components
@using System.Reflection;
@using Mindr.Domain.Models.DTO.Connector
@using MudBlazor

@namespace Mindr.WebAssembly.Client.Pages.Connectors.Views
@inherits LayoutComponentBase

<MudStack Row="true">
    <MudButton StartIcon="@Icons.Material.Filled.Save" IconColor="Color.Primary" Size="Size.Large" @onclick="OnSave">Save</MudButton>
    <MudButton StartIcon="@Icons.Material.Filled.Delete" IconColor="Color.Primary" Size="Size.Large" @onclick="RemoveItemDialog.OpenDialog">Delete</MudButton>
</MudStack>
@*
@if(Overview!= null)
{
    <table style="width:100%; margin-left:10px; margin-top:10px">
        <tr>
            <td>id</td>
            <td>:</td>
            <td>@Overview.Id</td>
        </tr>
        <FluentDivider Role="DividerRole.Separator"></FluentDivider>
        <tr>
            <td>created by</td>
            <td>:</td>
            <td>@Overview.CreatedBy</td>
        </tr>
        <FluentDivider Role="DividerRole.Separator"></FluentDivider>
        <tr>
            <td>name</td>
            <td>:</td>
            <td><FluentTextField ValueChanged="@OnChangeName" Value="@Overview.Name" style="width: 100%;" /></td>
        </tr>
        <FluentDivider Role="DividerRole.Separator"></FluentDivider>
        <tr>
            <td style="vertical-align: -webkit-baseline-middle;">description</td>
            <td style="vertical-align: -webkit-baseline-middle;">:</td>
            <td><FluentTextArea ValueChanged="@OnChangeDescription" Value="@Overview.Description" style="width: 100%;" /></td>
        </tr>
        <FluentDivider Role="DividerRole.Separator"></FluentDivider>
        <tr>
            <td style="vertical-align: -webkit-baseline-middle;">is public</td>
            <td style="vertical-align: -webkit-baseline-middle;">:</td>
            <td>
                <FluentCheckbox @onchange="@OnDataChanged" @bind-Value="@Overview.IsPublic"/>
            </td>
        </tr>
        <FluentDivider Role="DividerRole.Separator"></FluentDivider>
        <tr>
            <td style="vertical-align: -webkit-baseline-middle;">variables</td>
            <td style="vertical-align: -webkit-baseline-middle;">:</td>
            <td>
                <FluentCard Style="margin:0px">    
                    <table style="width:100%; margin:10px">
                        @foreach (var item in Overview.Variables)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                                <td>:</td>
                                <td>
                                    <FluentTextField @onchange="@OnDataChanged" @bind-Value="@item.Value" style="width: 100%;" />
                                    <FluentCheckbox @onchange="@OnDataChanged" @bind-Value="@item.IsPublic">user dependent</FluentCheckbox>
                                </td>
                            </tr>
                            <FluentDivider Role="DividerRole.Separator"></FluentDivider>
                        }
                    </table>
                </FluentCard>
            </td>
        </tr>
    </table>
}
<ConfirmDialog @ref="RemoveItemDialog" Text="Are you sure to delete this connector?" OnConfirm="OnRemove" />

*@