@namespace Mindr.WebUI.Views.Connectors
@using System.Reflection;
@using Mindr.Core.Models.Connector;

@inherits FluentComponentBase

<Stack Orientation="Orientation.Vertical" VerticalGap="0">
    <Stack Orientation="Orientation.Horizontal" Class="editable-stack">
        <FluentButton Disabled="@(DataHasChanged == false)" Appearance="Appearance.Stealth" Style="border-radius: 0;" @onclick="OnSave">
            <FluentIcon Slot="start" Name="@FluentIcons.Save" Size="@IconSize.Size16" Variant="@IconVariant.Regular" Color="@Color.Accent" />
            Save
        </FluentButton>
        <FluentButton Disabled="false" Appearance="Appearance.Stealth" Style="border-radius: 0;" @onclick="HandleDialogOpen">
            <FluentIcon Slot="start" Name="@FluentIcons.Add" Size="@IconSize.Size16" Variant="@IconVariant.Regular" Color="@Color.Accent" />
            Delete
        </FluentButton>
    </Stack>
    @if(Overview!= null)
    {
        <table style="width:100%; padding:20px">
            <tr>
                <td>id</td>
                <td>:</td>
                <td>@Overview.Id</td>
            </tr>
            <FluentDivider Role="DividerRole.Separator"></FluentDivider>
            <tr>
                <td>created by</td>
                <td>:</td>
                <td>@Overview.CreatedBy</td>
            </tr>
            <FluentDivider Role="DividerRole.Separator"></FluentDivider>
            <tr>
                <td>name</td>
                <td>:</td>
                <td><FluentTextField ValueChanged="@OnChangeName" Value="@Overview.Name" style="width: 100%;" /></td>
            </tr>
            <FluentDivider Role="DividerRole.Separator"></FluentDivider>
            <tr>
                <td style="vertical-align: -webkit-baseline-middle;">description</td>
                <td style="vertical-align: -webkit-baseline-middle;">:</td>
                <td><FluentTextArea ValueChanged="@OnChangeDescription" Value="@Overview.Description" style="width: 100%;" /></td>
            </tr>
            <FluentDivider Role="DividerRole.Separator"></FluentDivider>
            <tr>
                <td style="vertical-align: -webkit-baseline-middle;">variables</td>
                <td style="vertical-align: -webkit-baseline-middle;">:</td>
                <td>
                    <FluentCard Style="margin:0px">    
                        <table style="width:100%; margin:10px">
                            @foreach (var item in Overview.Variables)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <FluentTextField @onchange="@OnDataChanged" @bind-Value="@item.Value" style="width: 100%;" />
                                        <FluentCheckbox @onchange="@OnDataChanged" @bind-Value="@item.InputByUser">user dependent</FluentCheckbox>
                                    </td>
                                </tr>
                                <FluentDivider Role="DividerRole.Separator"></FluentDivider>
                            }
                        </table>
                    </FluentCard>
                </td>
            </tr>
        </table>
    }

    <div>
        <FluentDialog Modal="true" TrapFocus="true" @ref="RemoveItemDialog" @ondialogdismiss="HandleDialogDismiss" Style="height:fit-content">
            <div>
                Are you sure to delete this connector?
            </div>
            <Stack Orientation="Orientation.Horizontal" HorizontalAlignment="StackHorizontalAlignment.Right" Style="padding:5px">
                <FluentButton Appearance="Appearance.Accent" Autofocus="true" @onclick="HandleDialogClose">Close</FluentButton>
                <FluentButton Appearance="Appearance.Accent" Autofocus="true" @onclick="OnRemove">Confirm</FluentButton>
            </Stack>
        </FluentDialog>
    </div>
</Stack>


@code {
    public class SampleGridData
    {
        public string Name { get; set; }
        public int Age { get; set; }

        public SampleGridData(string name, int age)
        {
            Name = name;
            Age = age;
        }
    }

    List<SampleGridData> RowsGrid = new()
    {
        new SampleGridData("Rob", 19 ),
        new SampleGridData("Bob", 20 )
    };

    private void HandleRowFocus(FluentDataGridRow<SampleGridData> row)
    {
        Console.WriteLine($"Row focused: {row.RowIndex}");
    }

    private void HandleCellFocus(FluentDataGridCell<SampleGridData> cell)
    {
        Console.WriteLine($"Cell focused: {cell.GridColumn}");
    }
}