@using Mindr.Core.Models.Connector;
@inherits FluentComponentBase

<div>
    <FluentDialog Modal="true"
                  TrapFocus="true"
                  @ref="Dialog"
                  @ondialogdismiss="HandleOnDialogDismiss">

        <FluentCombobox Placeholder="Whatsapp message..."
                        Style="width: 100%;"
                        Items=@Results
                        TOption="Connector"
                        OptionText="@(i => i.Name)"
                        OptionValue="@(i => i.Id.ToString())"
                        Autocomplete="ComboboxAutocomplete.Both" 
                        @bind-SelectedOption="@Data"
                        @bind-Text="@Query"
                        @oninput="@(async (input) => await HandleOnSearch(input))" 
                        @onselect="@HandleOnSelect"/>
        @if (CurrentEvent != null)
        {
            <div style="margin:10px">
                @foreach (var variable in CurrentEvent.Variables)
                {
                    <FluentTextField title="@variable.Description"
                                     Placeholder="Required"
                                     Style="width: 100%;"
                                     @bind-Value="@variable.Value">
                        @variable.Name
                    </FluentTextField>
                }
                <Stack HorizontalAlignment="StackHorizontalAlignment.Right" Style="margin-top:5px">
                    @if (IsLoading)
                    {
                        <FluentProgressRing Style="width: 24px; height: 24px;"></FluentProgressRing>
                    }
                    else
                    {
                        <FluentButton @onclick="@GoToConnector">
                            <FluentIcon Name="@FluentIcons.Link" 
                                        Size="@IconSize.Size16" 
                                        Variant="@IconVariant.Regular" 
                                        Color="@Color.Accent" 
                            />
                        </FluentButton>
                        if (CurrentEvent?.ConnectorId != null)
                        {
                            <FluentButton Appearance="Appearance.Accent"
                                  Autofocus="true"
                                  @onclick="HandleOnDelete">
                                Delete
                            </FluentButton>
                        }
                        <FluentButton Appearance="Appearance.Accent"
                                      Autofocus="true"
                                      @onclick="HandleOnUpsert"
                        >
                            @(CurrentEvent?.ConnectorId != null ? "UpdateOverview" : "Create")
                        </FluentButton>
                    }
                </Stack>
            </div>
        }
    </FluentDialog>
</div>

