@namespace Mindr.WebAssembly.Client.Components
@using Microsoft.Fast.Components.FluentUI;
@inherits FluentComponentBase

<FluentTreeItem Id="@Id"
                Class="@ClassValue"
                Style="@StyleValue"
                Disabled="@Disabled"
                Selected="@Selected"
                tabindex="0"
                Text="@(NavMenuExpanded ? Text : string.Empty)"
                @onclick="@OnClickHandlerAsync">
    @if (NavMenu.HasIcons)
    {
        @if (HasIcon)
        {
            <FluentIcon Name="@Icon" Size="@IconSize.Size20" Slot="start"/>
        }
        else
        {
            <div style="width:20px;" slot="start" />
        }
    }
    @if (NavMenuExpanded)
    {
        <div style="margin-right:20px">
            @ChildContent
        </div>
    }
    
</FluentTreeItem>